[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "==2.1.2"
beancount-dkb = {editable = true, path = "."}

[dev-packages]
"flake8" = "==3.5.0"
pytest = "==3.6.4"
twine = "==1.11.0"

[requires]
python_version = "3.7"
